
*{  
    margin: 0;
    padding: 0;}
.Bodyseba{
    box-sizing: border-box;  
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    background-color: #f1f1f1;
}
/* Header */
.Header{
   
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 15px 10%;
    
}

.Header .logo{
    cursor: pointer;
}
.Header .logo img{
    height: 100px;
    width: 90px;
    transition: all 0.3s;
}
.Header .logo img:hover{
transform: scale(1.2);
}
.Header .navLink{
    list-style: none;
    /* para quitar los estilos de la nav */
}
.Header .navLink li{
    display: inline-block;
    padding: 0 20px;
    
}
.Header .navLink .li:hover{
    transform: scale(1.1);
}
.Header .navLink a{
font-size: 700;
color: azure;
text-decoration: none;

}
.Header .navLink li a:hover{
    color: rgb(0, 0, 0);
    transform: scale(1.1);
    transition: all 0.3s;
    font-family: 'Playfair Display', serif;
}
.Header .btn button{
    margin: 5px;
    font-weight: 700;
    /* color: rgb(12, 197, 27); */
    padding:  25px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3 ease 0;
    background-image: url(asset/Menu.svg);
    background-size: 50px 50px;

}
.Header .btn2 button{
    
    font-weight: 700;
    /* color: rgb(12, 197, 27); */
    padding:  25px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3 ease 0;
    background-image: url(asset/instagram.svg);
    background-size: 50px 50px;

}
.Header .btn button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transform: scale(1.1);
}
.Header .btn2 button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transform: scale(1.1);
}
@media (max-width:701px){
    header{
        flex-direction: colum;
    }
    nav{
        padding: 0px 0px;
    }
}



/* header */
/* Slider */


.Container{

    width: 80%;
    height: 400px;
    position: relative;
    top:270px;
    left: 50%;
    transform: translate(-50%, -50%);
  
}
img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    cursor: poiner;
  
}






/* slider */


/*"chupala enano"

/* item-poleras */

.Item-Venta{
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Playfair Display', serif;
    color:#333 ;
}
.Item-Venta_index{
    margin: 0 auto;
    margin-top: 180px;
    max-width: 1200px;
    font-family: 'lato';
    color:#333 ;
}
.Img-producto{
    max-width: 100%;
}
.Contenedor-item{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px; 
}
.Contenedor-item{
    border-radius: 10px; 
    
}
.item:hover{
    box-shadow:0 10px 20px rgba(0, 0 , 0, 0.20);
    }
.Img-producto {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0 ;
    transition: all .5s;
}
.item-figure{
overflow: hidden;
}
.Img-producto:hover  {
    transform:  scale(1.15);
}
.info-productos{
    padding: 15px ;
    line-height: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}
.precio-porducto{
    font-size: 18px;
    font-weight: 900;
}

.Boton-info{  
    border:none;
    border-radius: none;
    background-color: #000;
    color: #fff;
    padding: 15px 15px;
    cursor: pointer;
    border-radius: 10px;
    transition: all .5s;  
}

.div-button {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: all .5s;  
}

 button:hover {   
    
    background-color: #00b8d4f9; 
   
}

/* item-poleras */
/* Footer seba */

.pie-pagina{
    width: 100%;
    background-color: #000;
}
.pie-pagina .grupo-1{
width: 100%;
max-width: 2000px;
margin: auto;
display: grid;
grid-template-columns: repeat(3,1fr);
grid-gap: 50px;
padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    height: 220px;
    width: 200px;
    transition: all 0.3s;

}
.pie-pagina .grupo-1 .box figure img:hover{
    transform: scale(1.2);
     }
.pie-pagina .grupo-1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: white;
    margin-bottom: 10px;
}
.pie-pagina .redsocial button{
    
    font-weight: 700;
    /* color: rgb(12, 197, 27); */
    padding:  25px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3 ease 0;
    background-image: url(asset/instagram.svg);
    background-size: 50px 50px;
     }
     .pie-pagina .btn2 button{
        margin: 5px;
        font-weight: 700;
        /* color: rgb(12, 197, 27); */
        padding:  25px;
        background-color: rgb(255, 255, 255);
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3 ease 0;
        background-image: url(asset/Menu.svg);
        background-size: 50px 50px;
    
    }
    .pie-pagina .grupo-2{
        background-color: black;
        padding: 15px 10px;
        text-align: center;
        color: white;

    }
    
/* Footer seba */