
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    background-color: #f1f1f1;
}
/* Header */
.Header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 5px 10%;
}
.Header .logo{
    cursor: pointer;
}
.Header .logo img{
    height: 66px;
    width: 100px;
    transition: all 0.3s;
}
.Header .logo img:hover{
transform: scale(1.2);
}
.Header .navLink{
    list-style: none;
    /* para quitar los estilos de la nav */
}
.Header .navLink li{
    display: inline-block;
    padding: 0 20px;
}
.Header .navLink .li:hover{
    transform: scale(1.1);
}
.Header .navLink a{
font-size: 700;
color: azure;
text-decoration: none;
}
.Header .navLink li a:hover{
    color: rebeccapurple;

}
.Header .btn button{
    font-weight: 700;
    color: bisque;
    padding: 9px 25px;
    background-color: azure;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0;

}
.Header .btn button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transform: scale(1.1);
}




/* header */





/* item-poleras */
.Item-Venta{
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'lato';
    color:#333 ;
}
.Item-Img{
    max-width: auto;
}










/* item-poleras */